jdll2025-RefPerSys-Starynkevitch.aux
jdll2025-RefPerSys-Starynkevitch.log
jdll2025-RefPerSys-Starynkevitch.out	cc-by-nc-sa.eps
cc-by-nc-sa.pdf
cc-by-nc.eps
cc-by-nc.pdf
cc-by-nd.eps
cc-by-nd.pdf
cc-by-sa.eps
cc-by-sa.pdf
cc-by.eps
cc-by.pdf
cc0.eps
cc0.pdf
cc-by-nc-sa.eps
jdll2025-RefPerSys-Starynkevitch.out
jdll2025-RefPerSys-Starynkevitch.nav
jdll2025-RefPerSys-Starynkevitch.pdf
jdll2025-RefPerSys-Starynkevitch.snm
jdll2025-RefPerSys-Starynkevitch.toc
*~
refpersys-logo.eps
refpersys-logo.pdf
