# file RefPerSys/.gitignore
*.o
*.so
*~
*.orig
refpersys
_*.mk
Make-dependencies/*mkdep
_*.c
_*.cc
_*.h
_*.hh
do-build-refpersys-plugin
do-scan-refpersys-pkgconfig
tools/do-configure-refpersys
.vscode
