## refpersys.org file .gitignore
## SPDX-License-Identifier: GPL-3.0-or-later
_*
do-configure-refpersys
do-scan-pkgconfig
refpersys
tmp_*
*.o
*.orig
*~
*.BAK
do-build-plugin
.ninja_deps
.ninja_logs
.ninja_log
generated/rpsdata.h
doc/design-ideas/refpersys-design.out
doc/design-ideas/refpersys-design.pdf
doc/design-ideas/refpersys-design.aux
lto-refpersys
