generated-pfia2026.tex
RefPerSys-PFIA-2026-Starynkevitch.log
spiral-stairs.eps
spiral-stairs.pdf
RefPerSys-PFIA-2026-Starynkevitch.aux
RefPerSys-PFIA-2026-Starynkevitch.bbl
RefPerSys-PFIA-2026-Starynkevitch.blg
RefPerSys-PFIA-2026-Starynkevitch.out
RefPerSys-PFIA-2026-Starynkevitch.pdf
